.node__root > circle {
  fill: red;
}

.node__branch > circle {
  fill: yellow;
}

.node__leaf > circle {
  fill: blue;
  /* Let's also make the radius of leaf nodes larger */
  r: 40;
}

.node__highlighted {
  fill: #e63946; /* or any color you prefer */
  stroke: #e63946;
  font-weight: bold;
}
